*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #4e627e;

}

.contenedor{
    max-width: 1024px;
    margin: 0 auto;
    background: #4e627e;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

h1, h3{
    color: #fff;
    text-align: center;
    padding: 20px;
}

.cambio_tema{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    position: absolute;
    text-align: center;
    border-radius: 50px;
    &:hover{
        cursor: pointer;
        background-image: none;
        padding: 10px;
        border-radius: 50px;
    }
    .tema{
        display: inline;
        width: 50px;
        height: 50px;
        border: rgb(255, 255, 255) solid 1px;
        border-radius: 50px;
        margin: 0 10px;
        display: none;
    }

    .uno{
        background: #0e2038;
    }

    .dos{
        background: #608334;
    }

    .tres{
        background: #4b4b4b;
    }
}

header{
    width: 100%;
    background: #0e2038;
    nav{
        width: 100%;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            li{
                a{
                    display: block;
                    padding: 20px;
                    color: #fff;
                    text-decoration: none;
                    &:hover{
                        background: #fff;
                        color: #0e2038;
                    }
                }
            }
        }
    }
}

.contenido{
    display: flex;
    justify-content: space-between;
    li{
        list-style: none;
        width: 80%;
        margin: 0 auto;
        &:last-child{
            margin-bottom: 40px;
        }
    }
}

main{
    width: 70%;
    background: rgb(255, 255, 255);
    text-align: center;
    .foto_principal{
        img{
            box-shadow: rgba(0, 0, 0, 1) 0px 5px 10px;
            border-radius: 10px;
            margin-top: 100px;
            margin-bottom: 100px;
        }
    }
}

.informacion{
    text-align: justify;
    padding: 20px 40px 20px 40px;
}

aside{
    width: 30%;
    background: #26404d;
    h2, p,a{
        color: #fff;
        width: 100%;
        text-decoration: none;
        text-align: center;
        padding: 20px;
    }

    p{
        margin: 100px auto;
        &:hover{
            background: #fff;
            color: #0e2038;
        }
    }

}

.botones{
    background: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    a{
        color: #fff;
        text-decoration: none;
        padding: 10px;
        &:hover{
            background: #fff;
            color: #000;
        }
    }
}

.descripcion{
    display: none;
}

.elemento_acordeon{
    cursor: pointer;
}